.video-js .vjs-quality-selector .vjs-menu-button {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.video-js .vjs-quality-selector .vjs-icon-placeholder::before {
    content: 'HD';
    font-family: 'VideoJS';
    font-weight: bold;
    font-size: 1.3em;
}

.video-js .vjs-quality-selector .vjs-menu {
    left: -10px;
}